<?xml version="1.0" encoding="UTF-8" ?>

<fop version="1.0">
	<renderers>
		<renderer mime="application/pdf">
			<filterlist>
				<value>flate</value>
			</filterlist>

			<fonts>
        <directory recursive="true">
          <!-- edit your fonts dir -->
          /Users/USER/.fop/fonts
        </directory>

        <!--auto-detect/-->
			</fonts>
		</renderer>
	</renderers>
</fop>
